<%= render_card title: (@post.persisted? ? "Edit Post" : "New Post") do %>
  <%= render_form_for(@post) do |form| %>
    <div class="p-6 pt-0">
      <%= form.label :title, class: "text-right mr-4 text-lg" %>
      <%= form.text_field :title, class: "col-span-2" %>
    </div>

    <div class="p-6 pt-0">
      <%= form.label :content, class: "text-right mr-4 text-lg" %>
      <%= form.rich_text_area :content, class: "col-span-2" %>
    </div>

    <div class="p-6 pt-0">
      <%= form.label :cover_image, class: "text-right mr-4 text-lg" %>
      <% if @post.cover_image.present? %>
        <div class="flex pb-2">
          <%= image_tag @post.cover_image, class: "w-1/3" %>
          <%= render_button "X", as: :link,
                            href: remove_cover_image_post_path(@post),
                            class: "px-2 py-2 h-5",
                            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      <% end %>
      <%= form.file_field :cover_image, class: "col-span-2" %>
    </div>

    <div class="p-6 pt-0">
      <%= form.label 'Is Draft?', class: "text-right mr-4 text-lg" %>
      <%= form.check_box :is_draft %>
    </div>

    <% if post.errors.any? %>
      <div class="text-red-500 p-6 pt-0">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex justify-center mb-8">
      <%= form.submit @post.persisted? ? "Edit Post" : "Create Post" %>
    </div>
  <% end %>
<% end %>
