<%= render_typography(tag: :h1, content: "All Posts!") %>

<div class="flex w-full gap-2 flex-wrap">
  <% @posts.each do |post| %>
    <%= render_card title: post.title,
                    link: post_path(post) do %>
      <div class="p-6 pt-0">
        <%= render_typography(tag: :p, content: post.body) %>
      </div>
      <div class="items-center p-6 pt-0 flex justify-between ">
        <%= form_with(url: post_path(post), method: :delete) do %>
          <%= render_button variant: :destructive do %>
            <%= fa_icon "trash-o", class: 'mt-1 mr-1' %>
            Delete
          <% end %>
        <% end %>

        <%= render_button variant: :secondary, as: :link, href: edit_post_path(post) do %>
          <%= fa_icon "pencil-square-o", class: 'mt-1 mr-1' %>
          Edit
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
