<%= render_typography(tag: :h1,
                      class: 'pb-2',
                      content: "Your Posts") %>
<div class="mb-4">
  <%= link_to(my_posts_posts_path(drafts_only: !@show_drafts_only), class: 'flex w-max') do %>
    <%= render_switch("Show Drafts",
                      id: "drafts_only_switch",
                      name: "drafts_only",
                      state: @show_drafts_only ? "checked" : "unchecked") %>
  <% end %>
</div>

<div class="flex w-full gap-2 flex-wrap">
  <% @posts.each do |post| %>
    <%= render_card title: post.title,
                    subtitle: post.is_draft ? "Draft" : "Completed",
                    link: post_path(post) do %>
      <div class="p-6 pt-0">
        <%= render_typography(tag: :p, content: post.content, class: 'truncate') %>
      </div>
      <% if post.user_id == current_user&.id %>
        <div class="items-center p-6 pt-0 flex justify-between">
          <%= render "delete_alert", post: post %>

          <%= render_button variant: :secondary, as: :link, href: edit_post_path(post) do %>
            <%= fa_icon "pencil-square-o", class: 'mt-1 mr-1' %>
            Edit
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
